
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

.logo{
    font-family: 'Combo', cursive;

}

.items{
    
    margin: 20%;
    background-color: #F2D388;
}
h2{
    text-align: center;
}

.buttonAdd{
    width: 10%;
    position: relative;
    margin-left: 45%;
}
.vv{
    background-color: black;
position: relative;
justify-content: center;
align-items: center;
}
.nav-link{
    margin:20px;
    
}
button{
    margin: 20px;
}
.login-nav{
    margin-left: auto;
    
}
.hello{
   background-color: #F2D388;
   padding: 20%;
}
.hello h1{
    text-align: center;
    font-family: 'Combo', cursive;

}
.d{
    margin-left: auto;
}
h1{
    background-color: #F2D388;
    text-align: center;
    font-family: 'Combo', cursive;
}