.items{
    
    margin: 20%;
    background-color: red;
}
h2{
    text-align: center;
}

.buttonAdd{
    width: 10%;
    position: relative;
    margin-left: 45%;
}
.vv{
    background-color: black;
position: relative;
justify-content: center;
align-items: center;
}
.nav-link{
    margin:20px;
    
}